/* App.css */

body {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  
  text-align: center;
}

.header {
  width: 100%;
}

.body{
width: 100%;

}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #357ABD;
}

.add-button {
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-field {
  padding: 10px;
  margin: 5px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

